<app-header></app-header>

<div class="container pt-4">
        <div class="d-flex align-items-center ps-5" style="background: url('https://transvelo.github.io/freshcart/assets/images/slide-1.jpeg')no-repeat; background-size: cover; border-radius: .5rem; background-position: center; height: 500px;">
            <div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-6 py-14 px-8 text-xs-center">
                <h2 class="text-dark display-5 fw-bold mt-4">SuperMarket Daily <br> Fresh Grocery </h2>
                <p class="lead">
                    Introduced a new model for online grocery shopping and convenient home delivery.
                </p>
                <button routerLink="/home" type="button" class="btn btn-dark mt-3">Shop Now</button>
            </div>
        </div>
</div>

<app-product-list></app-product-list>

<app-footer></app-footer>